<p-toolbar>
  <ng-template pTemplate="start">
    <img alt="logo" src="assets/LogoMonPotagerTransp.png" width="30" class="hidden lg:flex xl:flex" />&nbsp;
    <p class="text-2xl font-bold font-countrySideTwo hidden lg:flex xl:flex">Le Compagnon du Jardinier</p>
    <p class="text-base font-bold font-countrySideTwo sm:visible md:visible lg:hidden xl:hidden">Le Compagnon du
      Jardinier</p>
  </ng-template>
  <ng-template pTemplate="center">
    &nbsp;
  </ng-template>
  <ng-template pTemplate="end">
    &nbsp;
  </ng-template>
</p-toolbar>
