$vegetables : #D8FFD8;
$fruits: #FFD5D5;
$preparations : #D5D5FF;

.vegetables {
  background-color: $vegetables;
}

.fruits {
  background-color: $fruits;
}

.preparations {
  background-color: $preparations;
}
