<h4 class="font-bold hidden sm:flex">Réinitialiser son mot de passe</h4>
<div class="flex justify-content-center md:hidden xl:hidden lg:hidden"><h4 class="font-bold text-xl">Réinitialiser son mot de passe</h4></div>

<p>Un code va vous être envoyé par email, il faudra le saisir ici ainsi que le nouveau mot de passe.</p>

<form [formGroup]="formReset" (submit)="submit()">
  <div class="field">
    <p-iftalabel>
      <label for="email">Email</label>
      <input pInputText autocomplete="off" id="email" type="email" class="w-full" formControlName="formEmail">
      @if(formEmail.dirty) {
      @if(formEmail.hasError('required')) {
      <small class="text-red-500">
        Email obligatoire.
      </small>
      }
      @if(formEmail.hasError('email')) {
      <small class="text-red-500">
        Entrer un email valide.
      </small>
      }
      }
    </p-iftalabel>
  </div>

  @if (codeSent) {

  <div class="field mb-5">
    <h4>Code reçu par email : </h4>
    <p-inputotp inputId="formOtp" id="formOtp" formControlName="formOtp" [length]="6" size="large" [integerOnly]="true"/>
    @if(formOtp.dirty) {
      @if(formOtp.hasError('required')) {
      <small class="text-red-500">
        Code OTP obligatoire.
      </small>
      }
    }
  </div>

  <div class="field">
    <p-iftalabel>
      <p-password fluid [toggleMask]="true" inputId="password" promptLabel="Entrez un mot de passe" weakLabel='Faible' mediumLabel="Moyen" strongLabel="Fort" maxLength="15" class="w-full" formControlName="formNewPassword"/>
      <label for="password">Nouveau mot de passe</label>
    </p-iftalabel>
    @if(formNewPassword.dirty) {
      @if(formNewPassword.hasError('required')) {
      <small class="text-red-500">
        Mot de passe obligatoire.
      </small>
      }
      @if(formNewPassword.hasError('maxlength')) {
      <small class="text-red-500">
        Au maximum 15 caractères
      </small>
      }
      @if(formNewPassword.hasError('minlength')) {
      <small class="text-red-500">
        Au moins 3 caractères
      </small>
      }
    }
  </div>
  <div class="field">
    <p-iftalabel>
      <input fluid pInputText autocomplete="off" id="confirmPassword" type="password" formControlName="formConfirmationNewPassword">
      <label for="confirmPassword">Confimer le nouveau mot de passe</label>
    </p-iftalabel>
    @if(formConfirmationNewPassword.dirty) {
      @if(formConfirmationNewPassword.hasError('required')) {
      <small class="text-red-500">
        Mot de passe obligatoire.
      </small>
      }
      @if(formConfirmationNewPassword.hasError('mustMatch')) {
      <small class="text-red-500">
        Les deux mots de passe doivent correspondre
      </small>
      }
    }
  </div>
  <p-button [loading]="isLoading" [raised]="true" severity="info" [disabled]="formReset.dirty && formReset.invalid" label="Renvoyer le code" (onClick)="sendOtp()" icon="pi pi-arrow-right" iconPos="left" />
  <p-button [loading]="isLoading" type="submit" [raised]="true" severity="primary" label="Valider le nouveau mot de passe" icon="pi pi-arrow-right" iconPos="left" styleClass="ml-2" />
}
@else {
  <p-button [loading]="isLoading" [raised]="true" severity="info" [disabled]="!formEmail.valid" label="Envoyer le code" (onClick)="sendOtp()" icon="pi pi-arrow-right" iconPos="left" />
}


</form>

